[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyttsx3 = "*"
audiomath = "*"
gtts = "*"
python-vlc = "*"
mutagen = "*"

[dev-packages]
black = "*"
isort = "*"
